{% extends "layouts/base.njk" %}

{% block title %}Tags{% endblock %}

{% block content %}
  <h1>Tags</h1>
  <ul>
    {% for tag in collections.tags %}
      <li><a href="/tags/{{ tag.slug }}/">{{ tag.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
