{% extends "layouts/base.njk" %}

{% block content %}
  <h1>Tags</h1>
  
  <ul>
    {% for tag in collections.allTags %}
      <li>
        <a href="/tags/{{ tag }}">{{ tag }}</a> - {{ collections[tag].length }} posts
      </li>
    {% endfor %}
  </ul>

{% endblock %}
